DISCORD_TOKEN=MTE2NzQ0NzA0MTExOTYzMzQ1OA.GI0afm.Nww_3y7zcKKeSvz_MCl16GjqTMNeyD2R3tFKn4
MONGO_TOKEN=mongodb+srv://CrystalDust:Yusr0n12E4@clustercrystaldustbot.v4cqg6a.mongodb.net/?retryWrites=true&w=majority
GIPHY_TOKENqHS0e0JLuhyjH5cahXfLWdodq4QWBehQ
WEBHOOK_ID=1176453833258446868
WEBHOOK_TOKEN=c9FzPrIvWrL7sGJ49oDpigKRezlmLRqIyTaF4shWoVhGRB
DISCORD_ID=1167447041119633458

# Not neccessary variables
# Wondering how to get these? Check out https://github.com/CorwinDev/Discord-Bot#requirements
DISCORD_STATUS="Created by CrystalDust
Generally developed by CorwinDev"
RADIO=
TOPGG_TOKEN=
SPOTIFY_CLIENT_ID=
SPOTIFY_CLIENT_SECRET=
LAVALINK_HOST=lava.link
LAVALINK_PASSWORD=I'm a secret
LAVALINK_PORT=80
LAVALINK_SECURE=false
OPENAI=
